.input {
    font-family: Montserrat;
    border-radius: 1rem;
    height: 1.5rem;
    width: 20rem;
    margin: 1rem 1.5rem;
    padding: 0.2rem 1rem;
    display: block;
}

.button {
    font-family: Montserrat;
    font-size: 1rem;
    border-radius: 3rem;
}